<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Nos services</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Accueil</a>
    <a href="/services">Nos services</a>
    <a href="/contact">Contactez-nous</a>
  </nav>
  <div class="container">
    <h1>Nos Services</h1>
    <p>Nous proposons des services en imagerie medicale: scanners, radios, mammographies et echographies
      au sein de notre etablissements de sante </p>
  </div>
</body>
</html>
